.page {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;

  &__info {
    text-align: center;
    font-size: 24px;
    margin: 32px;
  }

  &__avatar {
    width: 320px;
    height: 320px;
    border-radius: 50%;
  }

  &__name {
    font-weight: 700;
  }

  &__location {
    opacity: 0.5;
  }
}

.name-form {
  margin: 0 auto;

  &__input {
    height: 32px;
    border: 3px solid #ccc;
    border-radius: 8px;
    flex: 1;
    outline: none;
  }
}

.btn {
  height: 40px;
  min-width: 64px;
  border: 3px solid #ccc;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 16px;
}
